@{
    ViewData["Title"] = "Services - Nameless Store";
}
<h1>@ViewData["Messege"]Services</h1>

<h3>Buy a car.</h3>

<a class="btn btn-success" href="http://localhost:62862/Home/Brands"><img src="~/images/NSDealership.svg" alt="ASP.NET" class="img-responsive" /></a>

<h3>Buy a Performance Part.</h3>

<a class="btn btn-success" href=""><img src="~/images/NSPerformance.svg" alt="ASP.NET" class="img-responsive" /></a>
